.hide{
  display: none !important;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quiz-card {
  background-color: rgba(80, 85, 77, 0.637);
  color: white;
  width: 500px;
  height: 500px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.timer-container {
  display: flex;
}

.timer {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  display: flex;
  border: 1px solid black;
  height: 50px;
  width: 50px;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  display: block;
}

.question {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  display: block;
}

#multiChoice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: #000;
  font: 16px Helvetica, Arial, sans-serif;
  border: #000 1px solid;
  height: 200px;
  width: 450px;
}

.startButton {
  font-size: 18px;
  border: 1px solid rgb(184, 182, 182);
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.startButton:hover {
  box-shadow: 2px 3px 3px rgb(184, 182, 182);
}

.repeatButton {
  font-size: 18px;
  border: 1px solid rgb(184, 182, 182);
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.repeatButton:hover {
  box-shadow: 2px 3px 3px rgb(184, 182, 182);
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}